body
{
  color: white;
  background: #740e6d;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(255, 151, 241);
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(255, 151, 241);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading
{
  font-size: 18px;
  letter-spacing: 10px;
  border-radius: 10px;
}

label
{
  font-size: 14px;
  color: rgb(126, 0, 160);
  padding: 6px;
  border-radius: 10px;
  background-color:white ;
}
